.pic {
	background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
	text-align: center;
	color: white;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: 
}

body {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

nav {
	font-size: 18px;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.white {
	color: white;
}